body {
    top:0px;
    left:0px;
    background-image: url('pocket-watch-clock-time-old.jpg');
    
    
}
.container {
    width:100%;
    height:auto;
    padding-top: 10vw;
}
.display1 {
    background-color:hsla(177, 89%, 15%, 0.389);
    border-radius:50%;
    width:25vw;
    height:25vw;
    text-align:center;
    font-size:5vw;
    font-weight: bold;
    color:white;
    box-shadow:0px 0px 15px 2px hsl(165, 100%, 51%);
    display: flex;
    margin: auto;
    justify-content: center;
    align-items:center;
   
}


.container2 {
    width:100%;
    text-align:center;
    margin-top:5vw;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
#startstop,#reset {
    padding:15px 45px;
    margin-inline-start:2vw;
    margin-inline-end:2vw;
    font-size:2vw;
    border-radius:25px;
    box-shadow:0px 10px 3px rgb(1, 0, 12);
    background-color:slateblue;
    font-weight: bolder;
    cursor: pointer;
}
@media (max-width:1200px) {
    .container {
        padding-top: 15vw;
    }
    .display1 {
        width:30vw;
        height:30vw;
        font-size:6vw;
    }
    .container2 {
        margin-top:19vw;
    }
}
@media (max-width:900px) {
    .container {
        padding-top: 30vw;
    }
    .display1 {
        width:45vw;
        height:45vw;
        font-size:7vw;
    }
    .container2 {
        margin-top:25vw;
    }
}
@media (max-width:600px) {
    .container {
        padding-top: 35vw;
    }
    .display1 {
        width:60vw;
        height:60vw;
        font-size:12vw;
    }
    .container2 {
        margin-top:30vw;
    }
}
@media (max-width:400px) {
    .container {
        padding-top: 40vw;
    }
    .display1 {
        width:70vw;
        height:70vw;
        font-size:15vw;
    }
    .container2 {
        margin-top:35vw;
    }
}


